@model CorporateWebSite__MVC.Models.Model.Blog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>


<h2>Düzenle</h2>

<div class="form">
    @* iki yolu var bir bu bir diğeri resim ekleme için multi tap<form class="form-validate form-horizontal " id="register_form" method="post" action="/Hizmet/Create/" enctype="multipart/form-data">*@


    @using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()
        <form class="form-validate form-horizontal " id="register_form">
            <div class="form-group ">
                <label for="blogBaslik" class="control-label col-lg-2">Başlık <span class="required">*</span></label>
                <div class="col-lg-10">
                    <input class=" form-control" id="blogBaslik" name="blogBaslik" type="text" value="@Model.blogBaslik"/>
                </div>
            </div>

            <div class="form-group ">
                <label for="kategoriId" class="control-label col-lg-2">Kategori <span class="required">*</span></label>
                <div class="col-lg-10">
                    @Html.DropDownList("kategoriId", null, new { @class = "form-control" })
                </div>
            </div>



            <div class="form-group ">
                <label for="blogAciklama" class="control-label col-lg-2">Açıklama <span class="required">*</span></label>
                <div class="col-lg-10">
                    <textarea name="blogIcerik" required class="ckeditor">@Model.blogIcerik</textarea>
                </div>
            </div>

            <div class="form-group ">
                <label for="blogResimURL" class="control-label col-lg-2">Önceki Resim</label>
                <div class="col-lg-10">
                    <img src="@Model.blogResimURL" height="100" width="100" />

                </div>
            </div>

            <div class="form-group ">
                <label for="blogResimURL" class="control-label col-lg-2">Resim</label>
                <div class="col-lg-10">
                    <input class="form-control"  type="file" name="blogResimURL" accept=".jpg,.png,.jpeg" />


                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-primary" type="submit">Güncelle</button>
                    <button class="btn btn-default" type="button"><a href="/Blog/Index">İptal</a></button>
                </div>
            </div>
        </form>
    }
    @*</form>*@

</div>