@model IEnumerable<CorporateWebSite__MVC.Models.Model.Kimlik>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
  
      <h2>Site Kimlik Bilgileri</h2>     
            <table class="table table-bordered table-striped table-responsive-sm">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.keywords)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.logoURL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.unvan)
                    </th>
                    <th>İşlemler</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.keywords)
                        </td>
                        <td>
                            @Html.Raw(item.description)
                        </td>
                        <td>
                            <img  class="img-responsive" src="@item.logoURL" width="300" height="200"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.unvan)
                        </td>
                        <td>
                            @Html.ActionLink("Güncelle", "Edit", new { id = item.kimlikId }) 
                            
                        </td>
                    </tr>
                }

            </table>
     

